<div class="flex flex-wrap">
    <section class="relative mx-auto">
        <nav class="flex justify-between bg-gray-900 text-white w-screen">
            <div class="px-5 xl:px-12 py-6 flex w-full items-center">
                <a class="text-1 flex items-center font-bold font-heading px-16" href="#">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="100"
                        height="100"
                        viewBox="0,0,256,256"
                    >
                        <g
                            fill="#22c55e"
                            fill-rule="nonzero"
                            stroke="none"
                            stroke-width="1"
                            stroke-linecap="butt"
                            stroke-linejoin="miter"
                            stroke-miterlimit="10"
                            stroke-dasharray=""
                            stroke-dashoffset="0"
                            font-family="none"
                            font-weight="none"
                            font-size="none"
                            text-anchor="none"
                            style="mix-blend-mode: normal"
                        >
                            <g transform="scale(2.56,2.56)">
                                <path
                                    d="M25,19c-0.506,0 -0.93219,0.37886 -0.99219,0.88086l-1.80078,15c-0.034,0.284 0.05514,0.5702 0.24414,0.7832c0.189,0.213 0.46205,0.33594 0.74805,0.33594h56c0.506,0 0.93414,-0.37786 0.99414,-0.88086l1.79883,-15c0.034,-0.284 -0.05514,-0.5702 -0.24414,-0.7832c-0.189,-0.213 -0.46205,-0.33594 -0.74805,-0.33594zM25.88672,21h53.98633l-1.56055,13h-53.98633zM38.5,24c-0.276,0 -0.5,0.224 -0.5,0.5c0,0.276 0.224,0.5 0.5,0.5h5.96875c0.276,0 0.5,-0.224 0.5,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5zM47.46875,24c-0.276,0 -0.5,0.224 -0.5,0.5c0,0.276 0.224,0.5 0.5,0.5h11.10547c0.277,0 0.5,-0.224 0.5,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5zM61.89453,24c-0.276,0 -0.5,0.224 -0.5,0.5c0,0.276 0.224,0.5 0.5,0.5h13.04688l-0.58594,5.36719c-0.031,0.274 0.16741,0.52273 0.44141,0.55273c0.019,0.002 0.03764,0.00195 0.05664,0.00195c0.251,0 0.46709,-0.19027 0.49609,-0.44727l0.64648,-5.91992c0.016,-0.141 -0.03,-0.28267 -0.125,-0.38867c-0.095,-0.105 -0.22909,-0.16602 -0.37109,-0.16602zM22.40039,42c-0.507,0 -0.93514,0.37977 -0.99414,0.88477l-4.39844,38c-0.033,0.283 0.05709,0.5663 0.24609,0.7793c0.19,0.213 0.46109,0.33594 0.74609,0.33594h56c0.506,0 0.93219,-0.37786 0.99219,-0.88086l1.80078,-15c0.034,-0.284 -0.05514,-0.5702 -0.24414,-0.7832c-0.189,-0.213 -0.46205,-0.33594 -0.74805,-0.33594h-33.89648l0.60156,-6h34.09375c0.505,0 0.93219,-0.37786 0.99219,-0.88086l1.80078,-15c0.034,-0.284 -0.05514,-0.5702 -0.24414,-0.7832c-0.189,-0.213 -0.46205,-0.33594 -0.74805,-0.33594zM23.29102,44h53.98242l-1.56055,13h-34.11328c-0.514,0 -0.94314,0.38939 -0.99414,0.90039l-0.80078,8c-0.028,0.282 0.06491,0.56248 0.25391,0.77148c0.189,0.209 0.46019,0.32813 0.74219,0.32813h33.87305l-1.56055,13h-53.99219zM37.5,53c-0.256,0 -0.47009,0.19227 -0.49609,0.44727l-1.14062,10.91211c-0.03,0.275 0.17131,0.52083 0.44531,0.54883c0.018,0.002 0.03473,0.00195 0.05273,0.00195c0.252,0 0.47009,-0.19026 0.49609,-0.44727l1.0918,-10.46289h6.51953c0.276,0 0.5,-0.224 0.5,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5zM48.16992,53c-0.276,0 -0.5,0.224 -0.5,0.5c0,0.276 0.224,0.5 0.5,0.5h24.33008c0.276,0 0.5,-0.224 0.5,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5zM25.12109,59.73242c-0.281,-0.032 -0.52369,0.16545 -0.55469,0.43945l-1.91406,16.26953c-0.018,0.142 0.02805,0.28463 0.12305,0.39063c0.096,0.107 0.23005,0.16797 0.37305,0.16797h15.32031c0.276,0 0.5,-0.224 0.5,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5h-14.75586l1.84766,-15.71289c0.033,-0.274 -0.16545,-0.52269 -0.43945,-0.55469zM42.87109,76c-0.276,0 -0.5,0.224 -0.5,0.5c0,0.276 0.224,0.5 0.5,0.5h13.02344c0.276,0 0.49805,-0.224 0.49805,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5zM59.72461,76c-0.276,0 -0.5,0.224 -0.5,0.5c0,0.276 0.224,0.5 0.5,0.5h9.86133c0.276,0 0.5,-0.224 0.5,-0.5c0,-0.276 -0.224,-0.5 -0.5,-0.5z"
                                ></path>
                            </g>
                        </g>
                    </svg>
                    express Shop
                </a>
                <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
                    <li>
                        <a href="/products" class="text-gray-400 hover:text-gray-200" href="#">Products</a>
                    </li>
                    <li>
                        <a class="text-gray-400 hover:text-gray-200" href="#">Second link</a>
                    </li>
                    <li>
                        <a class="text-gray-400 hover:text-gray-200" href="#">Third link</a>
                    </li>
                    <li>
                        <a class="text-gray-400 hover:text-gray-200" href="#">Fourth link</a>
                    </li>
                </ul>
                <div class="hidden xl:flex space-x-5 items-center">
                    <button
                        class="bg-gray-800 h-10 w-32 rounded-lg p-2 text-gray-400 hover:text-white flex items-center justify-evenly"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                            /></svg
                        >0 items
                    </button>
                    <a id="profileLink" href="<%= user ? '/profile' : '/auth/discord' %>" class="cursor-pointer">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-12 h-12 text-gray-400 hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </section>
</div>
